In [18]:
import pandas as pd
import numpy as np

In [20]:
#help(pd.read_csv)

In [3]:
sales_df = pd.read_csv("sales_data.csv")
sales_df.head()

,OrderID,Product,Category,Region,Quantity,PricePerUnit,TotalSales,Date
0,1,Laptop,Electronics,North America,5.0,800.0,4000.0,10-01-2023
1,2,Smartphone,Electronics,Europe,10.0,500.0,5000.0,15-02-2023
2,3,T-shirt,Apparel,Asia,20.0,15.0,300.0,20-01-2023
3,4,Washing Machine,Home,North America,2.0,700.0,1400.0,05-03-2023
4,5,Refrigerator,Home,Europe,1.0,NaN,1200.0,25-01-2023

In [7]:
print(sales_df.shape)
print(sales_df.columns)
print(sales_df.index)

(30, 8)
Index(['OrderID', 'Product', 'Category', 'Region', 'Quantity', 'PricePerUnit',
       'TotalSales', 'Date'],
      dtype='object')
RangeIndex(start=0, stop=30, step=1)

In [9]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderID       30 non-null     int64
 1   Product       30 non-null     object
 2   Category      30 non-null     object
 3   Region        30 non-null     object
 4   Quantity      27 non-null     float64
 5   PricePerUnit  28 non-null     float64
 6   TotalSales    27 non-null     float64
 7   Date          30 non-null     object
dtypes: float64(3), int64(1), object(4)
memory usage: 2.0+ KB

In [11]:
sales_df.isnull().sum()

OrderID         0
Product         0
Category        0
Region          0
Quantity        3
PricePerUnit    2
TotalSales      3
Date            0
dtype: int64

In [14]:
#sales_df.describe()
sales_df.describe(include='all')

,OrderID,Product,Category,Region,Quantity,PricePerUnit,TotalSales,Date
count,30.000000,30,30,30,27.000000,28.000000,27.000000,30
unique,NaN,25,3,3,NaN,NaN,NaN,30
top,NaN,Laptop,Home,Asia,NaN,NaN,NaN,10-01-2023
freq,NaN,2,11,11,NaN,NaN,NaN,1
mean,15.500000,NaN,NaN,NaN,8.740741,259.285714,1254.629630,NaN
std,8.803408,NaN,NaN,NaN,7.465781,266.140851,1202.303019,NaN
min,1.000000,NaN,NaN,NaN,1.000000,10.000000,250.000000,NaN
25%,8.250000,NaN,NaN,NaN,3.500000,57.500000,520.000000,NaN
50%,15.500000,NaN,NaN,NaN,6.000000,135.000000,750.000000,NaN
75%,22.750000,NaN,NaN,NaN,11.000000,425.000000,1400.000000,NaN
max,30.000000,NaN,NaN,NaN,30.000000,800.000000,5000.000000,NaN

In [17]:
print(type(sales_df['Date']))
print(type(sales_df['Date'][0]))
print(type(sales_df['Date'].iloc[0]))
print(type(sales_df['Date'].loc[0]))

<class 'pandas.core.series.Series'>
<class 'str'>
<class 'str'>
<class 'str'>

## Handle missing values:

- Fill numerical columns with mean/median.
- Fill categorical columns with placeholders.

In [27]:
print(sales_df['Quantity'][:6])
print("Mean :",sales_df['Quantity'][:6].mean())
print("Median :",sales_df['Quantity'][:6].median())

0     5.0
1    10.0
2    20.0
3     2.0
4     1.0
5    15.0
Name: Quantity, dtype: float64
Mean : 8.833333333333334
Median : 7.5

In [38]:
print("Mean :",sales_df['Quantity'].mean())
print("Median :",sales_df['Quantity'].median())
print("Mode :\n",sales_df['Product'].mode())
print("Mode :\n",sales_df['Product'].mode()[0])

Mean : 8.74074074074074
Median : 6.0
Mode :
 0             Jacket
1             Laptop
2          Microwave
3              Shoes
4    Washing Machine
Name: Product, dtype: object
Mode :
 Jacket

In [40]:
sales_df['Product'].value_counts()

Product
Laptop             2
Washing Machine    2
Microwave          2
Jacket             2
Shoes              2
Refrigerator       1
Headphones         1
T-shirt            1
Smartphone         1
Air Conditioner    1
Jeans              1
Smartwatch         1
Blender            1
Dress              1
Oven               1
Camera             1
Tablet             1
Hat                1
Earphones          1
Monitor            1
Sofa               1
Shirt              1
Lamp               1
Watch              1
Desk               1
Name: count, dtype: int64

In [50]:
df = sales_df.copy()

In [56]:
#'Quantity', 'PricePerUnit','TotalSales'
#df['Quantity'] = df['Quantity'].fillna(0)
df.fillna({'Quantity':df['Quantity'].mean(),'PricePerUnit':df['PricePerUnit'].mean(),'TotalSales':df['TotalSales'].mean()},inplace=True)

In [57]:
df.isnull().sum()

OrderID         0
Product         0
Category        0
Region          0
Quantity        0
PricePerUnit    0
TotalSales      0
Date            0
dtype: int64

## Perform KPI Analysis:

 - Total sales by region and category.
 - Identify the highest-selling product.
 - Calculate monthly sales trends.

In [81]:
# 1. Total sales by region and category
#df['TotalSales'].sum()
print(df.groupby(['Region','Category'])['TotalSales'].sum())

# 2.Identify the highest-selling product
product_sales = df.groupby(['Product'])['TotalSales'].sum().sort_values(ascending=False)
print(product_sales.iloc[0])
print(product_sales.index[0])
print(df.groupby(['Product'])['TotalSales'].sum().idxmax())
print(df.groupby(['Product'])['TotalSales'].count().idxmax())

# 3.Calculate monthly sales trends

print(type(df['Date'][0]))
print(type(df['Date'].iloc[0]))
print(type(df['Date'].loc[0]))

df['NDate'] = pd.to_datetime(df['Date'],format='%d-%m-%Y')
print(type(df['NDate'][0]))
print(type(df['NDate'].iloc[0]))
print(type(df['NDate'].loc[0]))

df['Month'] = df['NDate'].dt.to_period('M')
print(df.head())
print(df.groupby(['Month'])['TotalSales'].sum())

Region         Category
Asia           Apparel         1940.00000
               Electronics     4004.62963
               Home            2260.00000
Europe         Apparel          730.00000
               Electronics    13200.00000
               Home            4054.62963
North America  Apparel         2495.00000
               Electronics     5400.00000
               Home            3554.62963
Name: TotalSales, dtype: float64
7200.0
Laptop
Laptop
Jacket
<class 'str'>
<class 'str'>
<class 'str'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
   OrderID          Product     Category         Region  Quantity  \
0        1           Laptop  Electronics  North America       5.0
1        2       Smartphone  Electronics         Europe      10.0
2        3          T-shirt      Apparel           Asia      20.0
3        4  Washing Machine         Home  North America       2.0
4        5     Refrigerator         Home         Europe       1.0

   PricePerUnit  TotalSales        Date      NDate    Month
0    800.000000      4000.0  10-01-2023 2023-01-10  2023-01
1    500.000000      5000.0  15-02-2023 2023-02-15  2023-02
2     15.000000       300.0  20-01-2023 2023-01-20  2023-01
3    700.000000      1400.0  05-03-2023 2023-03-05  2023-03
4    259.285714      1200.0  25-01-2023 2023-01-25  2023-01
Month
2023-01    5500.00000
2023-02    5750.00000
2023-03    2780.00000
2023-04     480.00000
2023-05    1254.62963
2023-06    1400.00000
2023-07    1080.00000
2023-08    1800.00000
2023-09    1240.00000
2023-10    1400.00000
2023-11     950.00000
2023-12    1100.00000
2024-01    1254.62963
2024-02    1000.00000
2024-03     855.00000
2024-04    3200.00000
2024-05    1254.62963
2024-06    4200.00000
2024-07    1140.00000
Freq: M, Name: TotalSales, dtype: float64

## Advanced Questions:

 - Find the region with the highest average price per unit.
 - Determine the most popular product category.
 - Identify the region with the highest sales growth.

In [86]:
# 1. Find the region with the highest average price per unit.
print(df.groupby('Region')['PricePerUnit'].mean().idxmax())

# 2.Determine the most popular product category.
print(df.groupby('Category')['TotalSales'].sum().idxmax())

# 3.Identify the region with the highest sales growth.
df['PrvMonthSales'] = df.groupby('Region')['TotalSales'].shift(1)
df['SalesGrowth'] = (df['TotalSales'] - df['PrvMonthSales']) / df['PrvMonthSales']
#print(df['SalesGrowth'])
print(df.groupby('Region')['SalesGrowth'].mean().idxmax())

North America
Electronics
Europe